---
import "../../../global.css";
import EmailIcon from "../../../icons/emailIcon.astro";
import Icon from "../../../icons/icon.astro";
import InstagramIcon from "../../../icons/instagramIcon.astro";
import Layout from "./layout.astro";
import GithubIcon from "../../../icons/githubIcon.astro";
import LinkedInIcon from "../../../icons/linkedInIcon.astro";
import XIcon from "../../../icons/xIcon.astro";
import DotDevIcon from "../../../icons/dotDevIcon.astro";
import LangSwitchEn from "../../../components/langSwitchEn.astro";
---

<Layout>
  <div class="flex flex-col items-start justify-start px-80 py-40 h-screen-dvh">
    <div class="flex flex-col items-start justify-center gap-y-20">
      <div class="flex flex-col gap-y-6">
        <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/en/">
          <Icon class="w-40 h-auto" />
        </a>

        <h1
          class="text-2xl font-medium text-text animate-fade-down"
          style="animation-delay: 0.1s;"
        >
          contact
        </h1>
      </div>

      <div class="flex flex-col gap-y-6">
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="emailto:dterzidis2008@gmail.com"
        >
          <EmailIcon />
          dterzidis2008@gmail.com
        </a>
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="https://www.instagram.com/dimitris.terzz/"
          target="_blank"
        >
          <InstagramIcon />
          dimitris.terzz
        </a>
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="https://github.com/dimitristerzz/"
          target="_blank"
        >
          <GithubIcon />
          dimitristerzz
        </a>
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="https://www.linkedin.com/in/dimitris-terzidis-996693381/"
          target="_blank"
        >
          <LinkedInIcon />
          Dimitris Terzidis
        </a>
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="https://x.com/dimitris_terzz/"
          target="_blank"
        >
          <XIcon />
          dimitris_terzz
        </a>
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="https://dev.to/dimitristerzz/"
          target="_blank"
        >
          <DotDevIcon />
          Dimitris Terzidis
        </a>
      </div>

      <LangSwitchEn href="/gr/contact/" />
    </div>
  </div>
</Layout>
