---
import "../../global.css";
import Layout from './Layout.astro';

---
<Layout>
	<div class="flex flex-col items-center justify-center h-screen-dvh">
		<a href="/">
			<h1 class="text-3xl font-medium text-primary">
				About Me
			</h1>
		</a>
	</div>
</Layout>