---
import "../../global.css";
import Layout from "./layout.astro";
import LinkArrow from "../../icons/linkArrow.astro";
import Icon from "../../icons/icon.astro";
import CVDownloadButton from "../../components/cvDownloadButton.astro";
import LangSwitchEn from "../../components/langSwitchEn.astro";
---

<Layout>
  <div class="flex flex-row justify-between items-center px-80 h-screen-dvh">
    <div class="flex flex-col items-start justify-center gap-y-12">
      <div
        class="flex flex-col items-start justify-center gap-8 animate-fade-down text-center"
        style="animation-delay: 0s;"
      >
        <Icon class="w-50 h-auto" />

        <div
          class="flex flex-wrap justify-center gap-12 text-xl font-regular text-text"
        >
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/en/skills/"
          >
            <LinkArrow />
            skills
          </a>
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/en/projects/"
          >
            <LinkArrow />
            projects
          </a>
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/en/about_me/"
          >
            <LinkArrow />
            about me
          </a>
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/en/contact/"
          >
            <LinkArrow />
            contact
          </a>
        </div>
      </div>

      <CVDownloadButton text="Download my CV" href="/CV_EN.pdf" download="CV_EN.pdf" />
    </div>

    <LangSwitchEn href="/gr/" />
  </div>
</Layout>
