---
import Layout from "../../components/layout.astro";
import Icon from "../../components/assets/icon.astro";
import CVDownloadButton from "../../components/cvDownloadButton.astro";
import LangSwitch from "../../components/langSwitch.astro";
import LinksRow from "../../components/layouts/linksRow.astro";
---

<Layout lang="en" description="Full-Stack Software Engineer from Greece">
  <div class="flex flex-row justify-between items-center mx-80 h-screen-dvh">
    <div class="flex flex-col items-start justify-center gap-12">
      <div
        class="flex flex-col items-start justify-center gap-8 animate-fade-down text-center"
        style="animation-delay: 0s;"
      >
        <Icon class="w-50 h-auto" />

        <LinksRow lang="en" />
      </div>

      <CVDownloadButton lang="en" />
    </div>

    <LangSwitch lang="en" />
  </div>
</Layout>
