---
import "../../global.css";
import Layout from './layout.astro';

---
<Layout>
	<div class="flex flex-col items-center justify-center gap-y-10 h-screen-dvh">
		<a href="/portfolio/">
			<img src="./icon.svg" alt="icon" class="w-32 h-32"/>
		</a>
		<h1 class="text-xl font-medium text-text">
			Contact
		</h1>
	</div>
</Layout>