<div class="flex flex-col gap-6">
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate"
    style="animation-delay: 0.0s;"
    href="https://github.com/dimitristerzz/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_97_121)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12.0099 0C5.36875 0 0 5.49998 0 12.3042C0 17.7432 3.43994 22.3472 8.21205 23.9767C8.80869 24.0992 9.02724 23.7119 9.02724 23.3862C9.02724 23.1009 9.00757 22.1232 9.00757 21.1044C5.6667 21.8379 4.97099 19.6377 4.97099 19.6377C4.43409 18.2117 3.63858 17.8452 3.63858 17.8452C2.54511 17.0914 3.71823 17.0914 3.71823 17.0914C4.93117 17.1729 5.56763 18.3544 5.56763 18.3544C6.64118 20.2284 8.37111 19.6989 9.06706 19.3729C9.16638 18.5784 9.48473 18.0284 9.82275 17.7229C7.15817 17.4377 4.35469 16.3784 4.35469 11.6522C4.35469 10.3077 4.8316 9.20771 5.58729 8.35222C5.46807 8.04672 5.0504 6.78347 5.70677 5.09273C5.70677 5.09273 6.72083 4.76673 9.00732 6.35572C9.98625 6.08639 10.9958 5.94938 12.0099 5.94823C13.024 5.94823 14.0577 6.09098 15.0123 6.35572C17.299 4.76673 18.3131 5.09273 18.3131 5.09273C18.9695 6.78347 18.5515 8.04672 18.4323 8.35222C19.2079 9.20771 19.6652 10.3077 19.6652 11.6522C19.6652 16.3784 16.8617 17.4172 14.1772 17.7229C14.6148 18.1099 14.9924 18.8432 14.9924 20.0044C14.9924 21.6544 14.9727 22.9787 14.9727 23.3859C14.9727 23.7119 15.1915 24.0992 15.7879 23.9769C20.56 22.3469 23.9999 17.7432 23.9999 12.3042C24.0196 5.49998 18.6312 0 12.0099 0Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0_97_121">
          <rect width="24" height="24" fill="currentColor"></rect>
        </clipPath>
      </defs>
    </svg>
    dimitristerzz
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate"
    style="animation-delay: 0.0s;"
    href="https://www.linkedin.com/in/dimitris-terzidis-996693381/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_97_131)">
        <path
          d="M21.829 0H2.17099C0.972 0 0 0.972 0 2.17099V21.8289C0 23.028 0.972 24 2.17099 24H21.8289C23.028 24 24 23.028 24 21.8289V2.17099C24 0.972 23.028 0 21.829 0ZM7.42662 20.7232C7.42662 21.0721 7.14377 21.355 6.79483 21.355H4.10544C3.7565 21.355 3.47365 21.0721 3.47365 20.7232V9.4494C3.47365 9.10046 3.7565 8.81761 4.10544 8.81761H6.79483C7.14377 8.81761 7.42662 9.10046 7.42662 9.4494V20.7232ZM5.45014 7.75489C4.0391 7.75489 2.8952 6.61099 2.8952 5.19996C2.8952 3.78892 4.0391 2.64503 5.45014 2.64503C6.86117 2.64503 8.00507 3.78892 8.00507 5.19996C8.00507 6.61099 6.86124 7.75489 5.45014 7.75489ZM21.4813 20.7741C21.4813 21.0949 21.2212 21.355 20.9004 21.355H18.0145C17.6937 21.355 17.4335 21.0949 17.4335 20.7741V15.486C17.4335 14.6972 17.6649 12.0292 15.372 12.0292C13.5934 12.0292 13.2327 13.8553 13.1602 14.6749V20.7741C13.1602 21.0949 12.9002 21.355 12.5793 21.355H9.78817C9.46737 21.355 9.20727 21.0949 9.20727 20.7741V9.39851C9.20727 9.07772 9.46737 8.81761 9.78817 8.81761H12.5793C12.9001 8.81761 13.1602 9.07772 13.1602 9.39851V10.3821C13.8197 9.39236 14.7998 8.62844 16.8866 8.62844C21.5077 8.62844 21.4813 12.9457 21.4813 15.3178V20.7741Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0_97_131">
          <rect width="24" height="24" fill="currentColor"></rect>
        </clipPath>
      </defs>
    </svg>
    Dimitris Terzidis
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate"
    style="animation-delay: 0.0s;"
    href="https://x.com/dimitris_terzz/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_97_137)">
        <path
          d="M14.2833 10.1624L23.2178 0H21.1006L13.3427 8.82384L7.14656 0H0L9.36984 13.3432L0 24H2.11732L10.3098 14.6817L16.8534 24H24L14.2827 10.1624H14.2833ZM11.3833 13.4608L10.4339 12.1321L2.88022 1.55962H6.1323L12.2282 10.0919L13.1776 11.4206L21.1016 22.5113H17.8495L11.3833 13.4613V13.4608Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0_97_137">
          <rect width="24" height="24" fill="currentColor"></rect>
        </clipPath>
      </defs>
    </svg>
    dimitristerzz
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate"
    style="animation-delay: 0.0s;"
    href="https://dev.to/dimitristerzz/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_98_151)">
        <path
          d="M6.435 9.76363C6.22714 9.6277 6.01875 9.55973 5.81089 9.55973H4.87661V14.4568H5.81143C6.01929 14.4568 6.22768 14.3888 6.43554 14.2529C6.64339 14.1169 6.74732 13.913 6.74732 13.6407V10.3758C6.74679 10.1039 6.64232 9.89957 6.435 9.76363ZM21.6482 0H2.35179C1.05536 0 0.00321429 0.918281 0 2.05313V21.9469C0.00321429 23.0817 1.05536 24 2.35179 24H21.6482C22.9452 24 23.9968 23.0817 24 21.9469V2.05313C23.9968 0.918281 22.9446 0 21.6482 0ZM8.26071 13.6496C8.26071 14.5313 7.63875 15.8672 5.67 15.8644H3.18429V8.10848H5.7225C7.62107 8.10848 8.25964 9.44254 8.26018 10.3247L8.26071 13.6496ZM13.6543 9.49363H10.8V11.2946H12.5448V12.6807H10.8V14.4811H13.6548V15.8672H10.3238C9.72589 15.8808 9.22875 15.4674 9.21375 14.9443V9.07973C9.19929 8.55707 9.67232 8.12301 10.2696 8.10988H13.6548L13.6543 9.49363ZM19.2064 14.8979C18.4993 16.3393 17.2323 16.0524 16.665 14.8979L14.6009 8.11035H16.3457L17.9373 13.441L19.5214 8.11035H21.2668L19.2064 14.8979Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0_98_151">
          <rect width="24" height="24" fill="currentColor"></rect>
        </clipPath>
      </defs>
    </svg>
    Dimitris Terzidis
  </a>
</div>
