---
import Arrow from "../assets/arrow.astro";
---

<div class="flex flex-col gap-y-6">
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
    style="animation-delay: 0.0s;"
    href="https://groooveshare.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Arrow />
    grooveshare
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
    style="animation-delay: 0.0s;"
    href="https://github.com/dimitristerzz/dt-utils/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Arrow />
    dt-utils
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
    style="animation-delay: 0.0s;"
    href="https://github.com/dimitristerzz/RAM-Py/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Arrow />
    RAM-Py
  </a>
</div>
