<div class="flex flex-col gap-y-6">
  <div
    class="flex flex-row items-center gap-2 text-lg text-text animate-fade-down"
    style="animation-delay: 0.0s;"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 4C8.8 4 6.8 5.65926 6 8.97778C7.2 7.31852 8.6 6.6963 10.2 7.11111C11.1129 7.34756 11.7653 8.03477 12.4876 8.7948C13.664 10.0333 15.0258 11.4667 18 11.4667C21.2 11.4667 23.2 9.80741 24 6.48889C22.8 8.14815 21.4 8.77037 19.8 8.35556C18.8871 8.11911 18.2347 7.4319 17.5124 6.67187C16.336 5.43342 14.9742 4 12 4ZM6 12.5333C2.8 12.5333 0.8 14.1926 0 17.5111C1.2 15.8519 2.6 15.2296 4.2 15.6444C5.11289 15.8814 5.76533 16.5681 6.48756 17.3281C7.664 18.5666 9.02578 20 12 20C15.2 20 17.2 18.3407 18 15.0222C16.8 16.6815 15.4 17.3037 13.8 16.8889C12.8871 16.6524 12.2347 15.9652 11.5124 15.2052C10.336 13.9667 8.97422 12.5333 6 12.5333Z"
        fill="currentColor"></path>
    </svg>
    Tailwind CSS
  </div>
  <div
    class="flex flex-row items-center gap-2 text-lg text-text animate-fade-down"
    style="animation-delay: 0.0s;"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M24 24H0V0H24L12 12L24 24Z" fill="currentColor"></path>
    </svg>
    Kotlin
  </div>
  <div
    class="flex flex-row items-center gap-2 text-lg text-text animate-fade-down"
    style="animation-delay: 0.0s;"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.17977 20.4418C8.09708 19.4507 7.78099 17.3683 8.23209 15.8596C9.01424 16.8108 10.098 17.1121 11.2205 17.2822C12.9535 17.5447 14.6554 17.4465 16.2652 16.6533C16.4494 16.5625 16.6196 16.4417 16.8208 16.3194C16.9719 16.7583 17.0112 17.2013 16.9584 17.6523C16.8301 18.7505 16.2844 19.5988 15.4163 20.2418C15.0692 20.4991 14.7019 20.729 14.3435 20.9715C13.2421 21.7169 12.9442 22.591 13.358 23.8623C13.3678 23.8935 13.3766 23.9244 13.3989 24C12.8366 23.7479 12.4258 23.3809 12.1128 22.8985C11.7823 22.3894 11.625 21.8261 11.6168 21.2167C11.6126 20.9201 11.6126 20.6208 11.5728 20.3284C11.4756 19.6156 11.1414 19.2964 10.5118 19.278C9.86572 19.2591 9.35463 19.6591 9.2191 20.2891C9.20875 20.3374 9.19374 20.3851 9.17874 20.4413L9.17977 20.4418Z"
        fill="currentColor"></path>
      <path
        d="M3 15.6082C3 15.6082 6.20607 14.0442 9.42111 14.0442L11.8451 6.53166C11.9359 6.16837 12.2008 5.92146 12.5 5.92146C12.7992 5.92146 13.0641 6.16837 13.1549 6.53166L15.5789 14.0442C19.3866 14.0442 22 15.6082 22 15.6082C22 15.6082 16.5542 0.751923 16.5436 0.722116C16.3873 0.282885 16.1234 0 15.7677 0H9.23287C8.87714 0 8.62393 0.282885 8.45699 0.722116C8.44521 0.751362 3 15.6082 3 15.6082Z"
        fill="currentColor"></path>
    </svg>
    Astro
  </div>
</div>
