---
import "../global.css";
import Layout from "../components/layout.astro";
---

<Layout lang="en" description="Full-Stack Software Engineer from Greece">
  <div class="flex flex-col justify-center items-center h-screen-dvh gap-6">
    <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/">
      <img src="/logo_glitch.png" alt="logo glitch" class="w-20" />
    </a>
    <p class="text-text animate-fade-down" style="animation-delay: 0.1s;">
      404 NOT FOUND
    </h1>
  </div>
</Layout>
