---
import "../global.css";
import Layout from "./layout.astro";
---

<Layout>
  <div class="flex flex-col justify-center items-center h-screen-dvh gap-y-6">
    <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/en/">
      <img src="/logo_glitch.png" alt="logo glitch" class="w-20" />
    </a>
    <h1 class="text-text animate-fade-down" style="animation-delay: 0.1s;">404 NOT FOUND</h1>
  </div>
</Layout>
