---
import "../global.css";
import Layout from './layout.astro';
---

<Layout>
	<div class="flex flex-col items-center justify-center h-screen-dvh gap-y-10">
		<img src="https://dimitristerzz.github.io/portfolio/icon.svg" alt="icon" class="w-32 h-32"/>
		<div class="flex flex-wrap justify-center gap-6 text-xl font-regular text-text">
			<a href="/portfolio/projects" class="text-lg text-secondary hover:underline">Projects</a>
			<a href="/portfolio/skills" class="text-lg text-secondary hover:underline">Skills</a>
			<a href="/portfolio/experience" class="text-lg text-secondary hover:underline">Experience</a>
			<a href="/portfolio/about_me" class="text-lg text-secondary hover:underline">About Me</a>
			<a href="/portfolio/contact" class="text-lg text-secondary hover:underline">Contact</a>
		</div>
	</div>
</Layout>