---
import "../global.css";
import Layout from './layout.astro';
---

<Layout>
	<div class="flex flex-col items-center justify-center h-screen-dvh gap-y-10">
		<img id="icon" src="https://dimitristerzz.github.io/portfolio/icon.svg" alt="icon" class="w-32 h-32"/>
		<div class="flex flex-wrap justify-center gap-6 text-xl font-regular text-text">
			<a href="/portfolio/projects" class="flex flex-row text-lg text-secondary transition-transform duration-200 transform hover:scale-105 gap-2 items-center">
				<img src="https://dimitristerzz.github.io/portfolio/arrow.svg" alt="arrow" class="w-3 h-3"/>
				projects
			</a>
			<a href="/portfolio/skills" class="flex flex-row text-lg text-secondary transition-transform duration-200 transform hover:scale-105 gap-2 items-center">
				<img src="https://dimitristerzz.github.io/portfolio/arrow.svg" alt="arrow" class="w-3 h-3"/>
				skills
			</a>
			<a href="/portfolio/experience" class="flex flex-row text-lg text-secondary transition-transform duration-200 transform hover:scale-105 gap-2 items-center">
				<img src="https://dimitristerzz.github.io/portfolio/arrow.svg" alt="arrow" class="w-3 h-3"/>
				experience
			</a>
			<a href="/portfolio/about_me" class="flex flex-row text-lg text-secondary transition-transform duration-200 transform hover:scale-105 gap-2 items-center">
				<img src="https://dimitristerzz.github.io/portfolio/arrow.svg" alt="arrow" class="w-3 h-3"/>
				about me
			</a>
			<a href="/portfolio/contact" class="flex flex-row text-lg text-secondary transition-transform duration-200 transform hover:scale-105 gap-2 items-center">
				<img src="https://dimitristerzz.github.io/portfolio/arrow.svg" alt="arrow" class="w-3 h-3"/>
				contact
			</a>
		</div>
		<a href="/" class=" bg-text text-background px-20 py-5 rounded-2xl text-xl hover:bg-background hover:text-text transition cursor-pointer">
			<img src="https://dimitristerzz.github.io/portfolio/arrow_down.svg" alt="arrow_down" class="w-32 h-32"/>
			Download my CV
		</a>
	</div>
</Layout>