---
import "../global.css";
import Layout from './layout.astro';
---
<Layout>
    <div class="flex flex-row justify-center items-center gap-20 h-screen-dvh">
        <a href="/portfolio/en/" class="group flex flex-row items-center justify-center bg-text text-background px-6 py-3 rounded-4xl hover:bg-background hover:text-text transition cursor-pointer gap-5 overflow-hidden relative text-xl">
            ΕΝ
        </a>
        <a href="/portfolio/gr/" class="group flex flex-row items-center justify-center bg-text text-background px-6 py-3 rounded-4xl hover:bg-background hover:text-text transition cursor-pointer gap-5 overflow-hidden relative text-xl">
            ΕΛ
        </a>
    </div>
</Layout>