---
const { href, download, text } = Astro.props;
---

<div class="animate-fade-down" style="animation-delay: 0.2s;">
  <a
    href={href}
    download={download}
    class="group flex flex-row items-center justify-center bg-text text-background px-14 py-3 rounded-2xl hover:bg-background hover:text-text transition cursor-pointer gap-4 overflow-hidden relative text-xl"
  >
    {text}
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      class="icon-arrow"
    >
      <g clip-path="url(#clip0_100_170)">
        <path
          d="M11.33 1.875C11.33 1.14048 10.7345 0.545035 10 0.545035C9.26548 0.545035 8.67003 1.14048 8.67003 1.875L10 1.875L11.33 1.875ZM9.05957 19.0654C9.57896 19.5848 10.421 19.5848 10.9404 19.0654L19.4043 10.6016C19.9237 10.0822 19.9237 9.24011 19.4043 8.72073C18.8849 8.20134 18.0428 8.20134 17.5234 8.72073L10 16.2441L2.47658 8.72073C1.9572 8.20134 1.11511 8.20134 0.595727 8.72073C0.0763429 9.24011 0.0763429 10.0822 0.595727 10.6016L9.05957 19.0654ZM10 1.875L8.67003 1.875L8.67004 18.125L10 18.125L11.33 18.125L11.33 1.875L10 1.875Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0_100_170">
          <rect width="20" height="20" fill="currentColor"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>
</div>

<script>
  const arrow = document.querySelector(".icon-arrow") as HTMLElement | null;
  const link = document.querySelector(".group") as HTMLElement | null;

  if (link && arrow) {
    link.addEventListener("mouseenter", () => {
      arrow.style.animation = "arrowDownUp 0.5s forwards";
    });

    link.addEventListener("mouseleave", () => {
      arrow.style.animation = "arrowUpDown 0.5s forwards";
    });
  }
</script>
