---
import Globe from "../icons/globe.astro";
import LanguageArrow from "../icons/languageArrow.astro";
const { href } = Astro.props;
---

<div class="animate-fade-down" style="animation-delay: 0.2s;">
  <a
    href={href}
    class="group flex flex-row items-center justify-center bg-text text-background px-6 py-3 rounded-4xl hover:bg-background hover:text-text transition cursor-pointer gap-4 overflow-hidden relative text-xl"
  >
    <div class="flex flex-row gap-2">
      <Globe />
      ΕΛ
    </div>

    <LanguageArrow />
  </a>
</div>