---
const { href, lang } = Astro.props;

const labels = {
  en: "ΕΛ",
  gr: "EN",
};
---

<div class="animate-fade-down" style="animation-delay: 0.2s;">
  <a
    href={href}
    class="group flex flex-row items-center justify-center bg-text text-background px-6 py-3 rounded-4xl hover:bg-background hover:text-text transition cursor-pointer gap-4 overflow-hidden relative text-xl"
  >
    <div class="flex flex-row gap-2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-auto"
      >
        <circle
          cx="12"
          cy="12"
          r="11.25"
          stroke="currentColor"
          stroke-width="1.5"></circle>
        <path
          d="M12 0.75C13.2197 0.75 14.5263 1.75874 15.5723 3.85059C16.5956 5.89754 17.25 8.77776 17.25 12C17.25 15.2222 16.5956 18.1025 15.5723 20.1494C14.5263 22.2413 13.2197 23.25 12 23.25C10.7803 23.25 9.47366 22.2413 8.42773 20.1494C7.4044 18.1025 6.75 15.2222 6.75 12C6.75 8.77776 7.4044 5.89754 8.42773 3.85059C9.47366 1.75874 10.7803 0.75 12 0.75Z"
          stroke="currentColor"
          stroke-width="1.5"></path>
        <path
          d="M20.1485 3.80933C18.0086 5.7897 15.1457 7.00004 12 7.00004C8.85443 7.00004 5.9915 5.7897 3.85156 3.80933"
          stroke="currentColor"
          stroke-width="1.5"></path>
        <path
          d="M20.1144 20.1595C17.9782 18.1976 15.1289 17 11.9998 17C8.8708 17 6.02149 18.1976 3.88525 20.1595"
          stroke="currentColor"
          stroke-width="1.5"></path>
        <path d="M23 12L1 12" stroke="currentColor" stroke-width="1.5"></path>
      </svg>

      {labels[lang]}
    </div>
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      class="transition-transform duration-200 group-hover:scale-70"
    >
      <g clip-path="url(#clip0_100_159)">
        <path
          d="M0.390687 13.7239C-0.130012 14.2446 -0.130012 15.0889 0.390687 15.6096C0.911386 16.1303 1.75561 16.1303 2.27631 15.6096L1.3335 14.6667L0.390687 13.7239ZM16.0002 1.33341C16.0002 0.597034 15.4032 8.06958e-05 14.6668 8.06958e-05L2.66683 8.06958e-05C1.93045 8.06958e-05 1.3335 0.597034 1.3335 1.33341C1.3335 2.06979 1.93045 2.66675 2.66683 2.66675H13.3335V13.3334C13.3335 14.0698 13.9305 14.6667 14.6668 14.6667C15.4032 14.6667 16.0002 14.0698 16.0002 13.3334V1.33341ZM1.3335 14.6667L2.27631 15.6096L15.6096 2.27622L14.6668 1.33341L13.724 0.390605L0.390687 13.7239L1.3335 14.6667Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0_100_159">
          <rect width="16" height="16" fill="currentColor"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>
</div>