---
import "../../global.css";
import Layout from "./layout.astro";
import Icon from "../../components/assets/icon.astro";
import CVDownloadButton from "../../components/cvDownloadButton.astro";
import LinksRow from "../../components/layouts/linksRow.astro";
import LangSwitch from "../../components/langSwitch.astro";
---

<Layout>
  <div class="flex flex-row justify-between items-center px-80 h-screen-dvh">
    <div class="flex flex-col items-start justify-center h gap-y-12">
      <div
        class="flex flex-col items-start justify-center gap-8 animate-fade-down text-center"
        style="animation-delay: 0s;"
      >
        <Icon class="w-50 h-auto" />

        <LinksRow lang="gr"/>
      </div>

      <CVDownloadButton lang="gr" href="/CV_ΕΛ.pdf" download="CV_ΕΛ.pdf" />
    </div>

    <LangSwitch lang="gr" href="/en/" />
  </div>
</Layout>
