---
import "../../global.css";
import Layout from "./layout.astro";
import LinkArrow from "../../icons/linkArrow.astro";
import Icon from "../../icons/icon.astro";
import CVDownloadButton from "../../components/cvDownloadButton.astro";
import LangSwitchGr from "../../components/langSwitchGr.astro";
---

<Layout>
  <div class="flex flex-row justify-between items-center px-80 h-screen-dvh">
    <div class="flex flex-col items-start justify-center h gap-y-12">
      <div
        class="flex flex-col items-start justify-center gap-8 animate-fade-down text-center"
        style="animation-delay: 0s;"
      >
        <Icon class="w-50 h-auto" />

        <div
          class="flex flex-wrap justify-center gap-12 text-xl font-regular text-text"
        >
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/gr/skills/"
          >
            <LinkArrow />
            δεξιότητες
          </a>
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/gr/projects/"
          >
            <LinkArrow />
            πρότζεκτς
          </a>
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/gr/about_me/"
          >
            <LinkArrow />
            σχετικά με μένα
          </a>
          <a
            class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
            href="/gr/contact/"
          >
            <LinkArrow />
            επικοινωνία
          </a>
        </div>
      </div>

      <CVDownloadButton text="Κατεβάστε το βιογραφικό μου" href="/CV_ΕΛ.pdf" download="CV_ΕΛ.pdf" />
    </div>

    <LangSwitchGr href="/en/" />
  </div>
</Layout>
