---
import "../../global.css";
import Layout from './layout.astro';
---

<Layout>
	<div class="flex flex-col items-center justify-start pt-22 gap-y-10 h-screen-dvh">
		<a href="/portfolio/">
			<img id="icon" src="https://dimitristerzz.github.io/portfolio/icon.svg" alt="icon" class="w-16 h-16"/>
		</a>
		<h1 class="text-xl font-medium text-text">
			experience
		</h1>
	</div>
</Layout>