---
import "../../global.css";
import Layout from './layout.astro';
---

<Layout>
	<div class="flex flex-col items-center justify-center h-screen-dvh">
		<a href="/portfolio">
			<h1 class="text-3xl font-medium text-text">
				Experience
			</h1>
		</a>
	</div>
</Layout>