---
import "../../global.css";
import Layout from './layout.astro';

---
<Layout>
	<div class="flex flex-col items-center justify-center h-screen-dvh">
		<a href={`${import.meta.env.BASE_URL}`}>
			<h1 class="text-3xl font-medium text-text">
				Skills
			</h1>
		</a>
	</div>
</Layout>