<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta property="og:type" content="website" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<title>Dimitris Terzidis - Portfolio - Skills</title>
		<meta name="description" content="My personal portfolio." />
		<meta property="og:image" content="https://dimitristerzz.github.io/portfolio/logo.png" />
		<link rel="icon" type="image/svg+xml" href="https://dimitristerzz.github.io/portfolio/favicon.svg" />
		<link rel="apple-touch-icon" href="https://dimitristerzz.github.io/portfolio/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>