---
import "../../../global.css";
import Layout from "./layout.astro";
---

<Layout>
  <div class="flex flex-col items-start justify-start mx-80 mt-30 h-screen-dvh">
    <!-- <div class="absolute top-1/7 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 h-96 -z-10">
		<div class="blob w-full h-full rounded-full bg-primary/60 filter blur-3xl animate-blob"></div>
	</div>

	<img src="/portfolio/noise.png" alt="noise" class="absolute top-0 left-0 w-full h-full pointer-events-none opacity-10 mix-blend-multiply"/> -->

    <!-- <div class="flex items-center justify-center">
		
      Back Arrow
      <a class="animate-fade-down" style="animation-delay: 0s;" href="/portfolio/">
        <svg class="transition-transform duration-200 transform hover:scale-105 w-8 h-8 mr-400 text-white hover:text-primary" width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30 17C31.1046 17 32 16.1046 32 15C32 13.8954 31.1046 13 30 13V15V17ZM0.585786 13.5858C-0.195262 14.3668 -0.195262 15.6332 0.585786 16.4142L13.3137 29.1421C14.0948 29.9232 15.3611 29.9232 16.1421 29.1421C16.9232 28.3611 16.9232 27.0948 16.1421 26.3137L4.82843 15L16.1421 3.68629C16.9232 2.90524 16.9232 1.63891 16.1421 0.857864C15.3611 0.0768158 14.0948 0.0768158 13.3137 0.857864L0.585786 13.5858ZM30 15V13L2 13V15V17L30 17V15Z" fill="currentColor"/>
        </svg>
      </a> -->

    <!-- Icon + Title

    </div> -->

    <div class="flex flex-col items-start justify-center gap-y-20">
      <div class="flex flex-col gap-y-6">
        <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/gr/">
          <svg
            class="w-40 h-auto text-white transition-colors duration-200"
            id="icon"
            width="268"
            height="200"
            viewBox="0 0 268 200"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 200V0H77.3968C104.504 0 125.349 10.0559 139.931 30.1676C152.644 47.8585 159 71.1359 159 100C159 133.147 150.774 158.659 134.323 176.536C119.928 192.179 100.952 200 77.3968 200H0ZM25.5185 177.374H72.91C113.291 177.374 133.481 151.583 133.481 100C133.481 48.4171 113.291 22.6257 72.91 22.6257H25.5185V177.374Z"
              fill="currentColor"></path>
            <path
              d="M202.764 22.6265V200H177.394V22.6265L83 22.6256C81.8954 22.6256 81 21.7302 81 20.6256V2.00001C81 0.895438 81.8954 4.51469e-06 83 1.00838e-05L268 0.000942832V22.6265H202.764Z"
              fill="currentColor"></path>
          </svg>
        </a>

        <h1
          class="text-2xl font-medium text-text animate-fade-down"
          style="animation-delay: 0.1s;"
        >
          πρότζεκτς
        </h1>
      </div>

      <div class="flex flex-col gap-y-6">
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="https://github.com/GrooveShare"
          target="_blank"
        >
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.270363 10.4242C-0.090121 10.7847 -0.090121 11.3692 0.270363 11.7297C0.630847 12.0901 1.2153 12.0901 1.57579 11.7297L0.923077 11.0769L0.270363 10.4242ZM12 0.923079C12 0.413276 11.5867 2.33428e-07 11.0769 0L2.76923 7.3919e-07C2.25943 4.27951e-07 1.84615 0.413277 1.84615 0.923079C1.84615 1.43288 2.25943 1.84616 2.76923 1.84616H10.1538V9.23079C10.1538 9.7406 10.5671 10.1539 11.0769 10.1539C11.5867 10.1539 12 9.7406 12 9.23079V0.923079ZM0.923077 11.0769L1.57579 11.7297L11.7296 1.5758L11.0769 0.923079L10.4242 0.270364L0.270363 10.4242L0.923077 11.0769Z"
              fill="currentColor"></path>
          </svg>
          grooveshare
        </a>
        <a
          class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 text-text hover:text-text/80 animate-fade-down"
          style="animation-delay: 0.0s;"
          href="https://github.com/dimitristerzz/dt-utils"
          target="_blank"
        >
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.270363 10.4242C-0.090121 10.7847 -0.090121 11.3692 0.270363 11.7297C0.630847 12.0901 1.2153 12.0901 1.57579 11.7297L0.923077 11.0769L0.270363 10.4242ZM12 0.923079C12 0.413276 11.5867 2.33428e-07 11.0769 0L2.76923 7.3919e-07C2.25943 4.27951e-07 1.84615 0.413277 1.84615 0.923079C1.84615 1.43288 2.25943 1.84616 2.76923 1.84616H10.1538V9.23079C10.1538 9.7406 10.5671 10.1539 11.0769 10.1539C11.5867 10.1539 12 9.7406 12 9.23079V0.923079ZM0.923077 11.0769L1.57579 11.7297L11.7296 1.5758L11.0769 0.923079L10.4242 0.270364L0.270363 10.4242L0.923077 11.0769Z"
              fill="currentColor"></path>
          </svg>
          dt-utils
        </a>
      </div>
    </div>
  </div>
</Layout>
