@import "tailwindcss";

@theme {
  --color-background: hsl(0, 0%, 0%);
  --color-text: hsl(0, 0%, 100%);
  --height-screen-dvh: 100svh;
  --width-screen-dvw: 100svw;
}

html {
  background-color: var(--color-background);
  font-family: "Almarai", sans-serif;
}

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

@keyframes arrowDownUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    transform: translateY(150%);
    opacity: 0;
  }
  50% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes arrowUpDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    transform: translateY(-150%);
    opacity: 0;
  }
  50% {
    transform: translateY(150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.group:hover .icon-arrow {
  animation: arrowDownUp 0.5s forwards;
}

.group:not(:hover) .icon-arrow.has-hovered {
  animation: arrowUpDown 0.5s forwards;
}