@import "tailwindcss";

@theme {
  --color-background: oklch(0% 0 0);
  --color-text: oklch(100% 0 0);
  --height-screen-dvh: 100svh;
  --font-text: "Tahoma", "sans-serif";
}

html {
  background-color: var(--color-background);
  font-family: var(--font-text);
}

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

@keyframes arrowDownUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    transform: translateY(150%);
    opacity: 0;
  }
  50% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.group:hover .icon-arrow {
  animation: arrowDownUp 0.5s forwards;
}
