---
import "../../../global.css";
import Layout from "../../../components/layout.astro";
import Icon from "../../../components/assets/icon.astro";
import SkillsCol from "../../../components/layouts/skillsCol.astro";
import LangSwitch from "../../../components/langSwitch.astro";
---

<Layout
  lang="el"
  description="Επισκόπηση των τεχνικών δεξιοτήτων μου στον τομέα του software engineering, του προγραμματισμού, και των μοντέρνων framework"
>
  <div class="flex flex-col items-start justify-start px-80 py-40 h-screen-dvh">
    <div class="flex flex-col items-start justify-center gap-y-20">
      <div class="flex flex-col gap-y-6">
        <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/gr/">
          <Icon class="w-40 h-auto" />
        </a>

        <h1
          class="text-2xl font-medium text-text animate-fade-down"
          style="animation-delay: 0.1s;"
        >
          δεξιότητες
        </h1>
      </div>

      <SkillsCol />

      <LangSwitch lang="gr" href="/en/skills/" />
    </div>
  </div>
</Layout>
