---
import "../../../global.css";
import Layout from "./layout.astro";
import Icon from "../../../icons/icon.astro";
import TailwindCSSIcon from "../../../icons/tailwindCSSIcon.astro";
import KotlinIcon from "../../../icons/kotlinIcon.astro";
import AstroIcon from "../../../icons/astroIcon.astro";
import LangSwitchGr from "../../../components/langSwitchGr.astro";
---

<Layout>
  <div class="flex flex-col items-start justify-start px-80 py-40 h-screen-dvh">
    <div class="flex flex-col items-start justify-center gap-y-20">
      <div class="flex flex-col gap-y-6">
        <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/gr/">
          <Icon class="w-40 h-auto text-white transition-colors duration-200" />
        </a>

        <h1
          class="text-2xl font-medium text-text animate-fade-down"
          style="animation-delay: 0.1s;"
        >
          δεξιότητες
        </h1>
      </div>

      <div class="flex flex-col gap-y-6">
        <div
          class="flex flex-row items-center gap-2 text-lg text-text animate-fade-down"
          style="animation-delay: 0.0s;"
        >
          <TailwindCSSIcon />
          Tailwind CSS
        </div>
        <div
          class="flex flex-row items-center gap-2 text-lg text-text animate-fade-down"
          style="animation-delay: 0.0s;"
        >
          <KotlinIcon />
          Kotlin
        </div>
        <div
          class="flex flex-row items-center gap-2 text-lg text-text animate-fade-down"
          style="animation-delay: 0.0s;"
        >
          <AstroIcon />
          Astro
        </div>
      </div>

      <LangSwitchGr href="/en/skills/" />
    </div>
  </div>
</Layout>
